<div class="content" {{did-insert (perform this.projects) }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs">
         <LinkTo @route="index">home</LinkTo> >
         <LinkTo @route="projects">our projects</LinkTo> >
         project detail
        </div>
        <h1>{{@project.title}}</h1>
      </div>
    </div>


    <div class="row-images row">
      {{#each @project.imagesHorizontal as |image|}}
        <div class="col-image col-sm-12"><img src="/{{rootURL}}assets/images/projects/{{image}}" alt={{@project.title}}></div>
      {{/each}}

      {{#each @project.imagesVertical as |image|}}
        <div class="col-image col-sm-6"><img src="/{{rootURL}}assets/images/projects/{{image}}" alt={{@project.title}}></div>
      {{/each}}

    </div>

    <Buttons::Request />
    <div class="section-subtitle">View More Projects</div>
    <Projects::Gallery {{filter}}
      @class="projects-gallery" @galleryCategory="residential" @projects={{this.projectModel}}
    />
  </div>
</div>
