<div class="section-subtitle">View More Projects</div>
<div class="projects projects-sly-carousel">
  <div {{slycarousel}} class="sly">
    <ul class="slidee">
      <li>
        <div class="project-item item-shadow">
          <img alt="" class="img-responsive" src="{{rootURL}}assets/images/projects/1-370x370.jpg">
          <div class="project-hover">
            <div class="project-hover-content">
              <h3 class="project-title">Triangle<br>Concrete House<br>On Lake</h3>
            </div>
          </div>
          <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
        </div>
      </li>
      <li>
        <div class="project-item item-shadow">
          <img alt="" class="img-responsive" src="{{rootURL}}assets/images/projects/2-370x370.jpg">
          <div class="project-hover">
            <div class="project-hover-content">
              <h3 class="project-title">Ocean<br>Museum<br>Italy</h3>
            </div>
          </div>
          <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
        </div>
      </li>
      <li>
        <div class="project-item item-shadow">
          <img alt="" class="img-responsive" src="{{rootURL}}assets/images/projects/3-370x370.jpg">
          <div class="project-hover">
            <div class="project-hover-content">
              <h3 class="project-title">Milko<br>Co-Working<br>Building</h3>
            </div>
          </div>
          <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
        </div>
      </li>
      <li>
        <div class="project-item item-shadow">
          <img alt="" class="img-responsive" src="{{rootURL}}assets/images/projects/4-370x370.jpg">
          <div class="project-hover">
            <div class="project-hover-content">
              <h3 class="project-title">Redesign<br>Interior For<br>Villa</h3>
            </div>
          </div>
          <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
        </div>
      </li>
      <li>
        <div class="project-item item-shadow">
          <img alt="" class="img-responsive" src="{{rootURL}}assets/images/projects/5-370x370.jpg">
          <div class="project-hover">
            <div class="project-hover-content">
              <h3 class="project-title">Wooden<br>Hozirontal<br>Villa</h3>
            </div>
          </div>
          <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
        </div>
      </li>
      <li>
        <div class="project-item item-shadow">
          <img alt="" class="img-responsive" src="{{rootURL}}assets/images/projects/6-370x370.jpg">
          <div class="project-hover">
            <div class="project-hover-content">
              <h3 class="project-title">Small<br>House Near<br>Wroclaw</h3>
            </div>
          </div>
          <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
        </div>
      </li>
    </ul>
    <span class="prev icon-chevron-left"></span>
    <span class="next icon-chevron-right"></span>
  </div>
  <div class="scrollbar">
    <div class="handle"></div>
  </div>
</div>
