<div class="project-item item-shadow {{@project.category}}">
    <img alt="" class="img-responsive" src="{{rootURL}}assets/images/projects/{{@project.img426x574}}">
    <div class="project-hover">
        <div class="project-hover-content">
            <h3 class="project-title">{{@project.title}}</h3>
            <p class="project-description">
                {{@project.description}}
            </p>
        </div>
    </div>
    <LinkTo @route="project" @class="link-arrow" @model={{@project}}>
      See project <i class="icon ion-ios-arrow-right"></i>
    </LinkTo>
</div>
