<div data-test-projectsPage class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs"><LinkTo @route="index">home</LinkTo> > our projects</div>
        <h1>We Create Luxurious Landscapes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="filter-content-2">
          <ul {{filter}} class="filter js-filter">
            <li class="active"><a href="#" class="all" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".commercial">Commercial ({{this.commercial.length}}) </a></li>
            <li><a href="#" data-filter=".residential">Residential ({{this.residential.length}}) </a></li>
            <li><a href="#" data-filter=".public-works">Public Works ({{this.publicWorks.length}})</a></li>
          </ul>
        </div>
        <div {{grid}} class="grid-items js-isotope js-grid-items">
          {{#each @model as |project|}}
            <div class="grid-item {{project.category}} js-isotope-item js-grid-item">
              <LinkTo @route="project" @class="link-arrow" @model={{project}}>
                <div class="project-item item-shadow">
                    <img alt="{{project.title}}" class="img-responsive" src="{{rootURL}}assets/images/projects/{{project.thumbnailLarge}}" />

                  <div class="project-hover">
                    <div class="project-hover-content">
                      <h3 class="project-title">{{project.title}}</h3>
                      <p class="project-description">{{project.description}}</p>
                    </div>
                  </div>
                  <LinkTo @route="project" @class="link-arrow" @model={{project}}>
                    See project <i class="icon ion-ios-arrow-right"></i>
                  </LinkTo>
                </div>
              </LinkTo>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
