<div class="content" {{did-insert (perform this.projects) }} >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs">
         <LinkTo @route="index">home</LinkTo> >
         <LinkTo @route="projects">our projects</LinkTo> >
         project detail
        </div>
        <h1>{{@project.title}}</h1>
      </div>
    </div>

    <div class="row-images row">
      <div class="col-image col-sm-12"><img src="/{{rootURL}}assets/images/projects/{{@project.img1920x1080}}"></div>
      <div class="col-image col col-sm-6"><img src="/{{rootURL}}assets/images/projects/{{@project.img426x574}}"></div>
      <div class="col-image col col-sm-6"><img src="/{{rootURL}}assets/images/projects/{{@project.img426x574}}"></div>
    </div>
    <Request />
    <div class="row">
      <div class="col-lg-12">
        <ProjectsSlyCarousel {{slycarousel}} @projects = {{this.projectModel}} />
      </div>
    </div>
  </div>
</div>
