<div class="animsition">
   <div class="wrapper boxed">
    <!-- Content CLick Capture-->
    <div class="click-capture"></div>
     <SidebarMenu />
     <Header />
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8">
            <div class="title-info"><a href="/">home</a> > <a href="/projects">OUR PROJECTS</a> > project detail</div>
            <h1 class="display-1">Deputy Ken Collier Neighborhood Park</h1>
          </div>
        </div>
      </div>
    </main>

    <div>
      <div class="primary">
        <div class="container">
          <article class="post">
            <div class="entry-content">
              <div class="row-images row">
                <div class="col-image col-sm-12"><img src="{{rootURL}}assets/images/projects/1170x572-deputy-ken-collier-park.jpg"></div>
                <div class="col-image col col-sm-6"><img src="{{rootURL}}assets/images/projects/1-570x572.jpg"></div>
                <div class="col-image col col-sm-6"><img src="{{rootURL}}assets/images/projects/2-570x572.jpg"></div>
              </div>
            </div>
          </article>
          <Request />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</div>


<!-- jQuery -->
<script src="{{rootURL}}assets/js/jquery.min.js"></script>
<script src="{{rootURL}}assets/js/animsition.min.js"></script>
<script src="{{rootURL}}assets/js/bootstrap.min.js"></script>
<script src="{{rootURL}}assets/js/smoothscroll.js"></script>
<script src="{{rootURL}}assets/js/jquery.validate.min.js"></script>
<script src="{{rootURL}}assets/js/wow.min.js"></script>
<script src="{{rootURL}}assets/js/jquery.stellar.min.js"></script>
<script src="{{rootURL}}assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{rootURL}}assets/js/owl.carousel.min.js"></script>
<script src="{{rootURL}}assets/js/isotope.pkgd.min.js"></script>
<script src="{{rootURL}}assets/js/imagesloaded.pkgd.min.js"></script>
<script src="{{rootURL}}assets/js/plugins.js"></script>
<script src="{{rootURL}}assets/js/sly.min.js"></script>


<!-- Slider revolution -->
<script src="{{rootURL}}assets/js/rev-slider/jquery.themepunch.tools.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/jquery.themepunch.revolution.min.js"></script>

<!-- Slider revolution 5x Extensions   -->
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.actions.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.carousel.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.kenburn.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.layeranimation.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.migration.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.navigation.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.parallax.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.slideanims.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.video.min.js"></script>


<!-- Scripts -->
<script src="{{rootURL}}assets/js/scripts.js"></script>
<script src="{{rootURL}}assets/js/rev-slider-init.js"></script>
