<div class="animsition">
  <div class="wrapper boxed">
    <!-- Content CLick Capture-->
    <div class="click-capture"></div>

    <SidebarMenu />
    <Header />
    <main>
      <div class="container">
        <div class="row">
          <div class="title-info"><a href="/">home</a> > our projects</div>
          <h1>We Create Luxurious Landscapes</h1>
        </div>
      </div>
    </main>

    <div class="content">
      <div class="projects">
        <div class="container">
          <div class="filter-content-2">
            <ul class="filter js-filter">
              <li class="active"><a href="#" class="all" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".commercial">Commercial </a></li>
              <li><a href="#" data-filter=".residential">Residential </a></li>
              <li><a href="#" data-filter=".municipalities">Municipalities </a></li>
            </ul>
          </div>
        </div>
        <div class="grid-items js-isotope js-grid-items">
          {{#each @model as |project|}}
          <div class="grid-item {{project.category}} js-isotope-item js-grid-item">
            <div class="project-item item-shadow">
              <img alt="{{project.title}}" class="img-responsive" src="{{rootURL}}assets/images/projects/{{project.img426x574}}">
              <div class="project-hover">
                <div class="project-hover-content">
                  <h3 class="project-title">{{project.title}}</h3>
                  <p class="project-description">{{project.description}}</p>
                </div>
              </div>
              <a href="/project-detail" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
            </div>
          </div>
          {{/each}}
        </div>
        </div>
    </div>
    <Footer />
  </div>
</div>



<!-- jQuery -->
<script src="{{rootURL}}assets/js/jquery.min.js"></script>
<script src="{{rootURL}}assets/js/animsition.min.js"></script>
<script src="{{rootURL}}assets/js/bootstrap.min.js"></script>
<script src="{{rootURL}}assets/js/smoothscroll.js"></script>
<script src="{{rootURL}}assets/js/jquery.validate.min.js"></script>
<script src="{{rootURL}}assets/js/wow.min.js"></script>
<script src="{{rootURL}}assets/js/jquery.stellar.min.js"></script>
<script src="{{rootURL}}assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{rootURL}}assets/js/owl.carousel.min.js"></script>
<script src="{{rootURL}}assets/js/isotope.pkgd.min.js"></script>
<script src="{{rootURL}}assets/js/imagesloaded.pkgd.min.js"></script>
<script src="{{rootURL}}assets/js/plugins.js"></script>
<script src="{{rootURL}}assets/js/sly.min.js"></script>


<!-- Slider revolution -->
<script src="{{rootURL}}assets/js/rev-slider/jquery.themepunch.tools.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/jquery.themepunch.revolution.min.js"></script>

<!-- Slider revolution 5x Extensions   -->
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.actions.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.carousel.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.kenburn.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.layeranimation.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.migration.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.navigation.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.parallax.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.slideanims.min.js"></script>
<script src="{{rootURL}}assets/js/rev-slider/revolution.extension.video.min.js"></script>


<!-- Scripts -->
<script src="{{rootURL}}assets/js/scripts.js"></script>
<script src="{{rootURL}}assets/js/rev-slider-init.js"></script>
